                                                                                                              @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    color: white;
    background-color: #001F3F;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    color:white;
    background-color: rgb(2, 47, 105);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
.parent-stats-container{
    display:flex;
    align-items: center;
}
.stats-container {
    display: grid;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    width: 100%; 
    box-sizing: border-round;
}
.first {
    grid-template-columns: repeat(3, 1fr); 
    height: 33%; 
    color: black;
}

.second {
    display:flex;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr); 
    height: 50%; 
    color: black;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;

}
#numbers {
    width: 50%;
    height:100%;
    flex-direction: column;
}
#top-games {
    width:50%;
    height:100%;
}
.stats-card {
    flex-direction: column;
    background-color: #6c9fec;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}


#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}
.search-wrapper{
    display:flex;
    gap:25rem;
    align-items: center;
}
#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    color: black;
    background-color: #6c9fec;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
} 

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    background-color: #6c9fec;
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}
button:hover{
    cursor:pointer;
    box-shadow: 0 0 30px lightblue;
}
#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
  }
  
  #search-bar {
    width: 35%; 
    padding: 10px; 
    font-family: 'Cabin';
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  }

  input{
    background:transparent;
    color:#fff;
    padding: 0 30px;
  }